     <div class="account-content">
         <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
             <div class="row">
                 <div class="col-xl-12 col-lg-12 col-md-12  mt-md-0 mt-4">
                    <div class="float-right">
                <% if(user.cache == 'administrator') {%>
                         <i> Published </i> <%- include('./common/switcher')%>
                <%} %>
                    </div>
                </div>

                 <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                     <div id="general-info" class="section general-info">
                         <div class=" bs-tooltip info">
                             <h6 class="">Content Image
                             </h6>
                             <div class="row">
                                 <div class="col-lg-11 mx-auto">
                                     <div class="row">
                                         <div class="col-xl-4 col-lg-6 col-md-12">
                                             <div class="upload mt-4 pr-md-4">
                                                 <style>
                                                     .dropify-wrapper {
                                                         width: 100% !important;
                                                     }
                                                 </style>

                                                 <input type="file" accept="image/*" name="image" id="input-file-max-fs"
                                                     class="dropify progressive__img progressive--not-loaded m-image"
                                                     style="width: 100%;"
                                                     data-default-file="/secondary/assets/img/holder.png"
                                                     data-progressive="/secondary/assets/img/holder.png"
                                                     data-max-file-size="2M" 
                                                      
                                                />

                                                 <h4 class="mt-2">
                                                     <i class="flaticon-cloud-upload mr-1"></i>
                                                     Upload Image
                                                 </h4>
                                             </div>
                                         </div>
                                         <div class="col-xl-8 col-lg-12 col-md-12 mt-md-0 mt-4">
                                             <div class="form">
                                                 <div class="row">
                                                     <div class="col-sm-12">
                                                         <div class="form-group">
                                                             <label for="title">Topic
                                                                 <span id="noe"> </span>
                                                             </label>
                                                             <input type="text" class="form-control mb-4 m-title" id="title"
                                                                 placeholder="enter post title" name="title" value=""
                                                                 oninput="($('#slug').val(this.value.toLowerCase().replace(/ /g,'-')))"
                                                                 required>
                                                             <input id="slug" class="m-slug" name="slug" type="hidden">
                                                             <input  class="m-id" name="id" type="hidden">
                                                         </div>
                                                     </div>

                                                     <div class="col-sm-6">
                                                         <label for="type" class="dob-input">Type</label>
                                                         <div class="form-group mr-1">
                                                             <select id="type" class="form-control m-type"
                                                                 name="type" onchange="selectType()">
                                                                 <option value="curriculum">Learn</option>
                                                                 <!-- <option value="read">Read</option> -->
                                                                 <option value="test">Test</option>
                                                                 <option value="stories">Stories</option>
                                                                 <option value="play">Play</option>
                                                                 <!-- <option value="play">Play: Riddles</option> -->
                                                               <!-- <option>SSS 3</option> -->
                                                             </select>
                                                         </div>
                                                     </div>

                                                     

                                                     <div class="col-sm-6 classDiv">
                                                         <label for="cache" class="dob-input classStyle">Class</label>
                                                         <div class="form-group mr-1">
                                                             <select id="cache" class="form-control m-cache"
                                                                 name="cache">
                                                                 <option value="" selected disabled hidden>Select Option</option>
                                                                 <optgroup id="classList" label="Class">
                                                                 <option>JSS 1</option>
                                                                 <option>JSS 2</option>
                                                                 <option>JSS 3</option>
                                                                 <option>SSS 1</option>
                                                                 <option>SSS 2</option>
                                                                 <option>SSS 3</option>
                                                                 </optgroup>

                                                                 <optgroup id="playList" label="Play" style="display: none">
                                                                    <option value="riddles">Riddles</option>
                                                                    <option value="jokes">Jokes</option>
                                                                 </optgroup>
                                                             </select>
                                                         </div>
                                                     </div>



                                                     <div class="subjectClass col-sm-6">
                                                         <label for="category" class="dob-input">Subject</label>
                                                         <div class="form-group mr-1">
                                                             <select id="category" class="form-control m-category" name="category">
                                                            
                                                                    <option>Agricultural Science</option>
                                                                    <option>English Language</option>
                                                                    <option>Civic Education</option>
                                                                    <option>Computer Studies</option>
                                                                    <option>Mathematics</option>

                                                                    <optgroup id="junior"
                                                                        label="Junior Secondary School">
                                                                       
                                                                        <option>Basic Science</option>
                                                                        <option>Basic Technology</option>
                                                                        <option>Business Studies</option>
                                                                        <option>Fine Arts/Creative Art</option>
                                                                        <option>Home Economics</option>
                                                                        <option>Physical and Health Education</option>
                                                                        <option>Social Studies</option>
                                                                        <option>Music</option>
                                                                        <option>Computer Studies</option>
                                                                    </optgroup>
                                                                    <optgroup id="senior"
                                                                        label="Senior Secondary School">
                                                                   
                                                                        <option>Economics</option>
                                                                        <option>Biology</option>
                                                                        <option>Geography</option>


                                                                    <optgroup id="art">
                                                                      

                                                                        <option>Literature in English</option>
                                                                        <option>Government</option>
                                                                        <option>History</option>
                                                                        <option>Commerce</option>
                                                                        <option>CRS / IRS</option>
                                                                    </optgroup>

                                                                    <optgroup id="commercial">
                                                                      

                                                                        <option>Accounting</option>
                                                                        <option>Commerce</option>
                                                                    </optgroup>

                                                                    <optgroup id="science">
                                                                      

                                                                        <option>Biology</option>
                                                                        <option>Chemistry</option>
                                                                        <option>Physics</option>
                                                                        <option>Further Mathermatics</option>
                                                                        <option>Technical Drawing</option>
                                                                    </optgroup>

                                                                    </optgroup>
                                                             </select>
                                                         </div>
                                                     </div>

                                                     

                                                     <div class="termClass col-sm-6">
                                                         <label for="genre" class="dob-input">Term</label>
                                                         <div class="form-group mr-1">
                                                             <select id="genre" class="form-control m-genre"
                                                                 name="genre">
                                                                 <option>1st</option>
                                                                 <option>2nd</option>
                                                                 <option>3rd</option>
                                                             </select>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>

                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div id="contentDiv" style="width: -webkit-fill-available;">
                    <%- include('../settingsComponents/about') %>
                 </div>
                 <!-- <div id="testDiv" >
                     <h4>Options</h4>
                     <div class="row">
                    <div class="input-group mb-4 col-6">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <div class="n-chk align-self-end">
                                    <label class="new-control new-radio radio-info"
                                        style="height: 21px; margin-bottom: 0; margin-right: 0">
                                        <input type="radio" class="new-control-input ans optRA" name="ans"
                                           >
                                        <span class="new-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="text" class="form-control opt optA" placeholder="option A" name="optionA"
                            aria-label="radio">
                    </div>
                     <div class="input-group mb-4 col-6">
                         <div class="input-group-prepend">
                             <div class="input-group-text">
                                 <div class="n-chk align-self-end">
                                     <label class="new-control new-radio radio-info"
                                         style="height: 21px; margin-bottom: 0; margin-right: 0">
                                         <input type="radio" class="new-control-input ans optRB" name="ans"
                                             >
                                         <span class="new-control-indicator"></span>
                                     </label>
                                 </div>
                             </div>
                         </div>
                         <input type="text" class="form-control opt optB" placeholder="option B" name="optionB"
                             aria-label="radio">
                     </div>
                      <div class="input-group mb-4 col-6">
                          <div class="input-group-prepend">
                              <div class="input-group-text">
                                  <div class="n-chk align-self-end">
                                      <label class="new-control new-radio radio-info"
                                          style="height: 21px; margin-bottom: 0; margin-right: 0">
                                          <input type="radio" class="new-control-input ans optRC" name="ans"
                                            >
                                          <span class="new-control-indicator"></span>
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <input type="text" class="form-control opt optC" placeholder="option C" name="optionC"
                              aria-label="radio">
                      </div>
                       <div class="input-group mb-4 col-6">
                           <div class="input-group-prepend">
                               <div class="input-group-text">
                                   <div class="n-chk align-self-end">
                                       <label class="new-control new-radio radio-info"
                                           style="height: 21px; margin-bottom: 0; margin-right: 0">
                                           <input type="radio" class="new-control-input ans optRD" name="ans" value="optionD"  >
                                           <span class="new-control-indicator"></span>
                                       </label>
                                   </div>
                               </div>
                           </div>
                           <input type="text" class="form-control opt optD" name="optionD" placeholder="option D"
                               aria-label="radio">
                       </div>
                     

                     <script>
                            $('.ans').on('click', function (e) {
                                   var optionVal = $(e.target).parents('.input-group').find('input.opt').val();
                                   $("#test-answer").val(optionVal)
                            })
                       </script>
                 </div>
                 
                 </div> -->
                   <div id="test-answer-dialog" class="input-group" style="display: none; padding: 0 30px;">
                       <input style="width: inherit;" type="text" class="form-control test-answer" name="answer" placeholder="Answer" id="test-answer">
                   </div>
                 <!-- <div id="playDiv">
                     Have the options here
                 </div> -->

                 <script>

                    function selectType (e){
                         const typeVal = $("#type").val();
                         
                         if (typeVal == 'test') {
                             $("#contentDiv").find('#about').find('h5').text('Add Question')
                             $("#testDiv").slideDown()
                             $("#test-answer-dialog").hide()
                                  $('.subjectClass').show()
                                  $('.classStyle').text('Class')
                                  $('.termClass').show()
                                  $('#classList').show()
                                  $('#playList').hide()

                         } else if(typeVal == 'play'){
                            $("#contentDiv").find('#about').find('h5').text('Compose')

                             $("#testDiv").fadeOut()
                             $("#test-answer-dialog").show()

                             $('.subjectClass').hide()
                             $('.classStyle').text('Category')
                             $('.termClass').hide()
                             $('#classList').hide()
                             $('#playList').show()
                             $('.classDiv').show()

                        } else if(typeVal == 'stories'){
                            $("#contentDiv").find('#about').find('h5').text('Compose')

                             $("#testDiv").hide()
                             $("#test-answer-dialog").hide()
                             $('.subjectClass').hide()
                             $('.termClass').hide()
                             $('#classList').hide()
                             $('.classDiv').hide()
                        }
                        else {
                            $("#contentDiv").find('#about').find('h5').text('Compose')
                             $("#testDiv").fadeOut()
                             $("#test-answer-dialog").hide()

                                $('.subjectClass').show()
                                $('.classStyle').text('Class')
                                $('.termClass').show()
                                $('#classList').show()
                                $('#playList').hide()
                             $('.classDiv').show()

                         }
                     }
                 </script>

                 <input type="hidden" id="csrf" name="_csrf" value="<%= csrfToken %>">
                 <input type="hidden" name="_url" value="<%= 'dashboard/blog' %>">
                 <input type="hidden" class="method" name="method" value="POST">
                 <input type="hidden" class="phase" name="phase" value="<%=phase%>">
             </div>
         </div>
     </div>