<%- include('../../componentSection/adminDashboard/partials/header') %>
<style>
    #content:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: rgba(136, 142, 168, 0.21176470588235294);
        width: 100%;
        height: 183px;
    }
</style>


<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <p><i class="fa fa-home"></i> Welcome</p>
                <p class="font-weight-bolder"> <%=user.username%>!</p>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value"><%=blog.length%></h6>
                                <p class=""><%=user.cache == "creator"? "Content Created":"Resources"%></p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-book" style="font-size: 24px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 97%"
                                aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <h6 class="value"><%=exp.length%></h6>
                                <p class="">Activities Recorded</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-running" style="font-size: 24px"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 87%"
                                aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
              <% if(user.cache == 'administrator') {%>
                  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                      <div class="widget widget-card-four">
                          <div class="widget-content">
                              <div class="w-content">
                                  <div class="w-info">
                                      <h6 class="value"><%=users.length%></h6>
                                      <p class="">Users</p>
                                  </div>
                                  <div class="">
                                      <div class="w-icon">
                                          <i class="fa fa-users" style="font-size: 24px"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="progress">
                                  <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 57%"
                                      aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                <div class="widget widget-card-four">
                    <div class="widget-content">
                        <div class="w-content">
                            <div class="w-info">
                                <!-- <h6 class="value">₦ 5,000</h6>
                                <p class="">Revenue</p> -->
                                <h6 class="value">
                                    <%var ua = 0%>
                                    <%users.map(u => {%>
                                       <% if(u.cache == 'administrator') {%> 
                                        <% ua += 1%>   
                                    <%} })%>
                                      <%= ua %>
                                </h6>
                                <p class="">Admin</p>
                            </div>
                            <div class="">
                                <div class="w-icon">
                                    <i class="fa fa-user-cog" style="font-size: 24px"></i>
                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 37%"
                                aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>

            <div class="modal fade bd-example-modal-xl show" tabindex="-1" role="dialog"
                aria-labelledby="myExtraLargeModalLabel" aria-modal="true">
                <div class="modal fade bd-example-modal-xl show" tabindex="-1" role="dialog"
                    aria-labelledby="myExtraLargeModalLabel" aria-modal="true"
                    style="padding-right: 25.9922px; display: block;">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title type" id="myExtraLargeModalLabel">Activities</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
                                <div class="modal-body">
                                    <table width="100%">
                                      <tr>
                                        <thead>
                                            <th>Type</th>
                                            <th>Title</th>
                                            <th>Count</th>
                                            <th>Time of Visit</th>
                                        </thead>
                                      </tr>
                                      <tbody id="activityBody">

                                      </tbody>
                                    </table>
                                </div> 
                            </div>
                            </div>
                            </div>

            </div>

           
<% if(user.cache == 'administrator') {%>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-card-two">
                    <div class="table-responsive mb-4 mt-4">
                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Class / Status</th>
                                    <!-- <th>Start date</th>
                                    <th>Salary</th> -->
                                    <th>Type</th>
                                    <th>Activities</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%users.map(u=>{%>
                                <tr>
                                    <td><%=u.name%></td>
                                    <td><%=u.username%></td>
                                    <td><%=u.gender%></td>
                                    <td><%=u.cache == 'creator'? u.verified? "Verified":"Pending" : u.rank%></td>
                                    <td><%=u.cache == 'administrator'? "Admin": u.cache %></td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="usr-img-frame btn rounded-circle">
                                               <p class="font-weight-bold actionate" style="margin: 6px auto; width: fit-content;">
                                                   <i data-toggle="modal" data-target=".bd-example-modal-xl"
                                                       data-url="/api/auth/activities" data-id="<%=u._id%>"
                                                       class="fa fa-eye "></i>
                                               </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-dark btn-sm">Option</button>
                                            <button type="button"
                                                class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split"
                                                id="dropdownMenuReference28" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" data-reference="parent">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference28">
                                                <a class="dropdown-item actionate" data-url="/api/auth/makeCreator" data-id="<%=u._id%>"
                                                    href="javascript:void(0)"><%=u.verified?"Revoke Access": "Verify Account"%></a>
                                                     <a class="dropdown-item actionate" data-url="/api/auth/makeAdmin"
                                                         data-id="<%=u._id%>" href="javascript:void(0)">Make Admin</a>
                                                <a class="dropdown-item actionate" data-url="/api/auth/deleteUser"
                                                    data-id="<%=u._id%>"
                                                    href="javascript:void(0)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                                <%})%>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $('.actionate').on('click', e=>{
            const _csrf = "<%=csrfToken%>"
           const data = $(e.target).attr('data-id');
           const url = $(e.target).attr('data-url');

     swal({
        title: 'Are you sure?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Confirm',
        padding: '2em'
      })
      .then(function (x) {
        if (x.value) {
            $.ajax({
            url,
            method: "POST",
            data: {id: data, _csrf},
            dataType: "JSON",
            success: (res) => {
                     $("#activityBody").empty()
                response(res.alert, res.response)
                res.redirect.map((e,i) =>{
                     var html = "<tr><td>"+ (i+1) +"</td> <td>"+ e.itemType +"</td> <td>"+ e.itemTitle +"</td>  <td>"+ e.count +"</td> <td>"+ e.updatedAt +"</td> </tr>"
                     $("#activityBody").append(html)
                })
               


                if(res.response != 'Fetched'){
                setTimeout(() => {
                    location.reload()
                }, 3000);
                }else{

                }
            },
            error: function (err) {
                console.log(err);
                
            }
           })
        }
      })
          
           

        })
    </script>
<%}else{%>
 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
     <div class="widget widget-card-two">
         <div class="table-responsive mb-4 mt-4">
             <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Gender</th>
                         <th>Content Title </th>
                        
                         <th>Type</th>
                         <th>Activity Count</th>
                         <th>Time of Visit</th>
                     </tr>
                 </thead>
                 <tbody>
                    <%users.map(u=>{%>
                      <%exp.map(e=>{%>
                        <%if(e.userid == u.id){%>
                        <tr>
                          <td><%=u.name%></td>
                          <td><%=u.gender%></td>
                          <td><%=e.itemTitle%></td>
                          <td><%=e.itemType%></td>
                          <td><%=e.count%></td>
                          <td><%=e.updatedAt.toLocaleString()%></td>
                        </tr>
                    <%} })%>
                    <%})%>

                </tbody>
                </table>
            </div>
            </div>
            </div>
<%}%>

<%- include('../../componentSection/adminDashboard/partials/footer') %>

<!-- <script src="/dashboard/plugins/apex/apexcharts.min.js"></script> -->
<!-- <script src="/dashboard/assets/js/dashboard/dash_2.js"></script> -->

   <script src="/dashboard/plugins/select2/select2.min.js"></script>


   <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
   <script src="/dashboard/plugins/table/datatable/datatables.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/jszip.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
   <script src="/dashboard/plugins/table/datatable/button-ext/buttons.print.min.js"></script>

   <script>
       $('#html5-extension').DataTable({
           dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
           buttons: {
               buttons: [{
                       extend: 'copy',
                       className: 'btn'
                   },
                   {
                       extend: 'csv',
                       className: 'btn'
                   },
                   {
                       extend: 'excel',
                       className: 'btn'
                   },
                   {
                       extend: 'print',
                       className: 'btn'
                   }
               ]
           },
           "oLanguage": {
               "oPaginate": {
                   "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                   "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
               },
               "sInfo": "Showing page _PAGE_ of _PAGES_",
               "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
               "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
           },
           "stripeClasses": [],
           "lengthMenu": [7, 10, 20, 50],
           "pageLength": 7
       });
   </script>

</body>

</html>