<%- include('../../partials/header')%>

<%- include('../../partials/common/modal')%>
<%- include('../../partials/common/modal-process')%>
<%- include('../../partials/common/alert')%>


    <!--=================================
    Inner Header -->
    <section class="inner-header bg-holder bg-overlay-black-80"
        style="background-image: url('/secondary/assets/img/landing-img.png');">
      <div class="container">
        <div class="row align-items-center mb-5 pb-sm-5 pb-0">
          <div class="col-md-12 text-center mb-2 mb-md-0">
            <h3 class="mb-0 text-white display-1 fw-5 text-warning">  <%=param%></h3>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Inner Header -->

    <!--=================================
    Feature Info -->
    <section class="mt-n5 e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 position-relative z-index-1">
      <div class="container">
        <div class="find-Course box-shadow rounded-sm p-4 bg-white">
          <div class="row">
            <div class="col-md-12">
              <h3>Filter</h3>
            </div>
          </div>
            <div id="filter-form" class="form-row form-flat-style align-items-center">
              <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                  <input on id="title-filter-form" type="text" class="form-control" placeholder="Search by Title" oninput="filter(this.value)">
              </div>

             

                <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
               <select id="subject-filter-form" onchange="filter(this.value)" class="form-control basic-select">
                   <!-- <option value="1" selected="selected">Subject</option> -->
                  <%if(param==='curriculum' ||param==='test'){%>
                   <option>Agricultural Science</option>
                     <option>Accounting</option>
                     <option>Basic Science</option>
                     <option>Basic Technology</option>
                     <option>Biology</option>
                     <option>Business Studies</option>
                     <option>Chemistry</option>
                     <option>Civic Education</option>
                     <option>Computer Studies</option>
                     <option>Commerce</option>
                     <option>Geography</option>
                     <option>Home Economics</option>
                     <option>Economics</option>
                     <option>Mathematics</option>
                     <option>Music</option>
                     <option>Physics</option>
                     <option>Social Studies</option>
                     <%} else if(param==='play'){%>
                     <option>Jokes</option>
                     <option>Riddles</option>
                     <%}%>
               </select>
              </div>

                  <%if(param==='curriculum' ||param==='test'){%>
                 <div class="col-md-4 col-lg-3 mb-0 form-group select-border">
                   <select id="class-filter-form" onchange="filter(this.value)" class="form-control basic-select">
                     <!-- <option value="1" selected="selected">Class</option> -->
                     <optgroup> Junior Class </optgroup>
                     <option value="JSS 1">JSS 1</option>
                     <option value="JSS 2">JSS 2</option>
                     <option value="JSS 3">JSS 3</option>
                     <optgroup> Senior Class </optgroup>
                     <option value="SSS 1">SSS 1</option>
                     <option value="SSS 2">SSS 2</option>
                     <option value="SSS 3">SSS 3</option>
                   </select>
                 </div>
            
               <div class="col-md-4 col-lg-3 mb-0 form-group select-border">
                <select id="term-filter-form" onchange="filter(this.value)" class="form-control basic-select">
                       <!-- <option value="1" selected="selected">Term </option> -->
                         <option>1st Term</option>
                         <option>2nd Term</option>
                         <option>3rd Term</option>
                   </select>
               </div>
                   <%}%>

            </div>
        </div>
      </div>
    </section>
    <script>
         function filter(e) {

            console.log(e)

            var titleVal = $('#title-filter-form').val();
            var classVal = $('#class-filter-form').val();
            var subjectVal =$('#subject-filter-form').val();
            var termVal = $('#term-filter-form').val();


            var res = 
            ((titleVal && classVal && subjectVal && termval)?
             titleVal+ " "+classVal + " "+subjectVal+" "+termVal
            : (!titleVal && classVal && subjectVal && termval)?
              classVal + " "+subjectVal+" "+termVal
            : (!titleVal && !classVal && subjectVal )?
              subjectVal.toLowerCase() : ''
             )
            console.log("res");
            
            console.log(res);
            
            
            console.log("end");
            
             
            
            

            var rex = new RegExp(res, 'i');
            console.log(rex);
            
            $('.searchable-items .items').fadeOut();

            $('.searchable-items .items').filter(function () {
                return (titleVal && classVal && subjectVal && termval?
                 rex.test($('.searchable-items .items').text()):
                !titleVal && !classVal && subjectVal?
                //  console.log($('.searchable-items .item-cache').text().toLowerCase())
                 rex.test($('.searchable-items .item-cache').text())
                :''
                 )
            }).fadeIn();
         };
    </script>

    <!--=================================
    Feature Info -->

    <!-- MENUDISPLAY -->
        <div id="menuDisplay" class="menuDisplay">
            <h3><b>Main Menu</b></h3>
            <ul>
                <li> 
                  <h6>1. Curriculum</h6>
                </li>
            </ul>
        </div>
    <!-- MENUDISPLAY -->
    
    <!--=================================
    News Details -->
    <section class="space-ptb course-details">
      <div class="container">
        <div class="row searchable-items">

        <%blog.map(c =>{%>
          <div class="items col-lg-4 col-sm-6 mb-4 pb-2">
            <div class="event">
              <div class="event-img">
                <img class="img-fluid" src="<%=c.image%>" alt="">
                  <%if(param==='curriculum' ||param==='test'){%>
                <div class="event-date two2">
                  <%=c.genre%>
                  <!-- <small>Jan</small> -->
                  <span class="years font-weight-bold one1">TERM</span>
                </div>
                <% } %>
              </div>
              <div class="event-info">
                <ul class="meta-event">
                  <%if(param==='curriculum' ||param==='test'){%>
                  <li> <i class="fa fa-tag"></i> <%=c.cache%></li>
                  <li> <i class="fa fa-gear text-info"></i> <%=c.category%></li>
                  <%}else if(param==='play'){%>
                  <li class="item-cache"><%=c.cache%></li>
                    <%}%>
                </ul>
            <div>
                <h4 class="event-title"><a href="#"><%=c.title%> </a></h4>
            </div>
                <code style="display: none;"> <%=c.title + " " +c.cache +" "+c.category+" "+c.genre+" Term"%> </code>
                <p><%-c.articleText.substring(0, 100)+'...'%></p>
                <code class="read-content" style="display: none"><%-c.articleText%></code>
                <code class="display-content" style="display: none"><%=c.article%></code>
       

                <div class="btn-resources"> 
                <%if(c.type==='curriculum' || c.type==='stories'){%>
                <a class="btn btn-primary read three3" style="color: #fff;" href="javascript:void(0)" data-title='<%=c.title%>' data-id="<%=c.id%>">Read</a>
                <a class="btn btn-primary listen one1" href="javascript:void(0)" data-title='<%=c.title%>' data-id="<%=c.id%>">Listen</a>
                <%}else if (c.type==='test' || c.type==='play'){%>
                <a class="btn btn-success take-test" data-optA="<%=c.optionA%>" data-optB="<%=c.optionB%>"
                    data-optC="<%=c.optionC%>" data-optD="<%=c.optionD%>"
                    data-answer="<%=c.answer%>"
                    href="javascript:void(0)" data-title='<%=c.title%>'
                    data-id="<%=c.id%>">Start</a>
                <%}%>
            </div>
            </div>
            </div>
          </div>
        <%})%>

        <form id="targetItem" enctype="multipart/form-data" style="display: none;">
            <!-- <input id="" type="file" name="" value=""> -->
            <input id="itemid" type="text" name="itemid" value="">
            <input id="itemTitle" type="text" name="itemTitle" value="">
            <input id="itemType" type="hidden" name="itemType" value="">
            <input type="text" name="_url" value="/engage">
            <input type="text" name="_csrf" value="<%=csrfToken%>">
            <input type="text" name="method" value="POST">
            <input type="submit" id="submitTarget">
        </form>
         
        </div>
      </div>
    </section>
    <!--=================================
    News Details -->

<%- include('../../partials/footer')%>
