<%- include('../partials/header')%>

<%- include('../partials/common/modal')%>
<%- include('../partials/common/modal-process')%>
<%- include('../partials/common/alert')%>
   

    <!--=================================
    Search Course -->
    <section class="space-ptb bg-overlay-black-50 search-course bg-holder" style="background-image: url('/secondary/assets/img/landing-img.png');">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-5 space-pb">
            <h2 class="text-primary mb-3">Welcome to <b>KAGUKAR</b></h2>
            <h6 class="text-white">Learning made fun, easy and interactive <br />
              <%=user && ' '+user.name%> </h6>
            <!-- <form class="form-inline mt-4 mt-sm-5">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="What do you want to study?">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form> -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Search Course -->

    <!--=================================
    Feature Info -->
    <section class="mt-n5 e-mt-sm-n4 e-mt-md-n5 e-mt-lg-n6 z-index-1 position-relative">
      <div class="container">
        <div class="box-shadow rounded-sm feature-info-03 bg-white">
          <div class="row no-gutters">
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-online-learning-1 fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">Study</h5>
              </div>
              <p class="mb-0 text-center">
         Kagukar offers a large library of educational content, focusing on the subjects within the Nigerian secondary
         curriculum, and learning resources out of the regular curriculum.
              </p>
            </div>
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-strategy fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">Practice Tests</h5>
              </div>
                  <p class="mb-0 text-center">
                              You can now write multiple-choice tests and answer them via voice prompt.
 </p>

            </div>
            <div class="col-md-4 px-5 py-4 py-md-5">
              <div class="d-flex align-items-center mb-4">
                <i class="flaticon-lock fa-3x text-primary mr-4"></i>
                <h5 class="font-weight-bold mb-0 mt-0 text-dark">Games</h5>
              </div>
                           <p class="mb-0 text-center">You can relax from studying and tests with games, riddles and
                             jokes on
                             Kagukar.
</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Feature Info -->

   

      <!--=================================
      Action Box -->
      <section class="bg-light py-5 mt-4 pt-4">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h4 class="mb-0">Kagukar works as your interactive voice/keyboard-activated platform that enables visually
                impaired students and other students to improve their academic performance</h4>
            </div>
            <div class="col-md-4 text-md-right mt-4 mt-md-0">
              <a class="btn btn-primary" href="/api/auth">Get Started</a>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Action Box -->

      <!--=================================
      How It Works -->
      <section class="space-pt">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <div class="section-title">
                <h2>How It Works?</h2>
                <p class="mb-0 p-4">Kagukar is a home-schooling, remote education and continued learning solution that
                  uses the power of artificial intelligence. It works as an interactive, keyboard-activated robot that
                  helps you study, do practice tests, read stories, and even relax from studies with games, riddles and
                  jokes.</p>
              </div>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-sm-4 mb-4 mb-sm-0">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-register fa-4x text-white bg-primary rounded-circle"></i>
                  <!-- <img class="d-lg-block d-none" src="images/feature-info/arrow-01.png" alt=""> -->
                </div>
                <h4 class="my-4">Create Account</h4>
                <p class="mb-0">Sign up to keep track of your learning activities on Kagukar</p>
              </div>
            </div>
            <div class="col-sm-4 mb-4 mb-sm-0">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-add-user fa-4x text-white bg-primary rounded-circle"></i>
                  <!-- <img class="d-lg-block d-none" src="images/feature-info/arrow-02.png" alt=""> -->
                </div>
                <h4 class="my-4">Select Content</h4>
                <p class="mb-0">Select what you want to learn, whether topic covered in school or just riddles and
                  tests.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature-info text-center">
                <div class="feature-info-icon">
                  <i class="flaticon-edit fa-4x text-white bg-primary rounded-circle"></i>
                </div>
                <h4 class="my-4">Learn</h4>
                <p class="mb-0">Sit back and have Kagukar read this material to you. You answer test questions with your
                  keyboard.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      How It Works -->




    

      <!--=================================
      explore and Brands -->
      <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-7 text-center">
              <div class="owl-carousel explore" data-nav-arrow="true" data-nav-dots="false" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-space="0" data-autoheight="true">
                    <div class="item">
                        <div class="explore-item">
                          <div class="explore-content">
                           <img class="explore-img" src="/secondary/assets/img/voice-audio.svg">
                          </div>
                        </div>
                      </div>

                      <div class="item">
                          <div class="explore-item">
                              <div class="explore-content">
                                  <img class="explore-img" src="/secondary/assets/img/speech-to-text.svg">
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-5 align-self-center pl-0 pl-lg-5 mt-5 mt-lg-0">
                    <div class="pl-3 pl-lg-4">
                      <div class="section-title">
                        <h2 class="mb-4 mb-lg-5">Kagukar is free and easy to use</h2>
                      </div>
                      <a href="/api/auth" class="btn btn-primary">Join Now!</a>
                      <hr class="my-5">
                      <h5 class="text-primary mt-md-4 mt-lg-5 mb-3">  </h5>
                      <div class="row">
                        <!-- <div class="col-lg-6 col-sm-3 col-6 mb-3 mb-md-0"><img class="img-fluid grayscale pt-4 w-75" src="images/award-logo/01.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 mb-3 mb-md-0"><img class="img-fluid grayscale pt-4 w-75" src="images/award-logo/05.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 "><img class="img-fluid grayscale pt-4 pt-lg-5 w-75" src="images/award-logo/03.svg" alt=""></div>
                        <div class="col-lg-6 col-sm-3 col-6 "><img class="img-fluid grayscale pt-4 pt-lg-5 w-75" src="images/award-logo/04.svg" alt=""></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--=================================
            explore and Brands -->

            <!--=================================
            Feature info -->
            <section class="space-pb pt-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="bg-dark rounded-sm p-3 p-sm-4 p-xl-5">
                      <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                          <i class="flaticon-book fa-4x text-white mr-4"></i>
                          <h3 class="mb-0 mt-0 text-white">Become a content creator</h3>
                        </div>
                        <p class="mb-4 text-white lead">Join our community of incredible contributors making Kagukar
                          better for use. Request for a contributor account by signing up here</p>
                        <a class="btn btn-outline-primary" href="/api/auth">Start creating today</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="bg-primary rounded-sm p-3 p-sm-4 p-xl-5">
                      <div class="m-2">
                        <div class="d-flex align-items-center mb-3">
                          <i class="flaticon-book-1 fa-4x text-white mr-4"></i>
                          <h3 class="mb-0 mt-0 text-white">Support Kagukar </h3>
                        </div>
                        <p class="mb-4 text-white lead">
                           Support Kagukar by following us on our social media platforms.
                          </p>
                       <a class="btn btn-light" href="/contact">contact us</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--=================================
            Feature info -->


            <%- include('../partials/footer')%>
