<%- include('../../../dashboard/componentSection/auth/loginComponents/header') %>

<div class="form-container outer">
    <div class="form-form" style=" margin: auto;">
        <div class="form-form-wrap" style="max-width: 100%;">
            <div class="form-container">
                <div class="form-content">


                    <figure class="progressve" style="margin-bottom: -40px;width: 160px; border-radius: 10px;">
                        <img class="progressive__img progressive--not-loaded"
                            data-progressive="/secondary/assets/img/logo-3.png" src="/secondary/assets/img/logo-3.png">
                    </figure>
                    <style>
                        h1 {
                            margin-top: -20%;
                            font-family: 'Patua One', cursive;
                            letter-spacing: 2px;
                        }
                    </style>
                   
                   <div id="updateUser" class="" style="width: 100%;">
                       <h1 class="text-right">Update Profile</h1>
                      
                       <form id="update" class="text-left">
                           <div class="form">
                               <div id="username-field" class="field-wrapper input">
                                   <label for="name">NAME</label>
                                   
                                   <input id="name" name="name" type="text" class="form-control" placeholder="Full name"
                                     value="<%=user.name%>" required>
                               </div>

                               <div id="email-field" class="field-wrapper input">
                                   <label for="username">USERNAME <small>(same as email)</small></label>
                                  
                                   <input type="text" value="<%=user.username%>" class="form-control"
                                       placeholder="Username" disabled>
                               </div>

                               <div id="" class="field-wrapper input mb-2">
                                   <div class="d-flex justify-content-between">
                                       <label for="">Gender</label>
                                   </div>
                                 
                                   <select name="gender" class=" form-control" id="" required>
                                       <option value="<%=user.gender%>"><%=user.gender%></option>
                                       <option>Male</option>
                                       <option>Female</option>
                                       <option>Prefer not to Say</option>
                                   </select>
                               </div>
                               <div class="field-wrapper input mb-2">
                                   <div class="d-flex justify-content-between">
                                       <label for="">Account Type</label>
                                   </div>
                                   <select id="type" name="cache" class=" form-control" required>
                                       <option value="<%=user.cache%>"><%=user.cache == "administrator"?"Admin":user.cache%></option>
                                       <option value="user">Student</option>
                                       <option value="creator">Content Creator</option>
                                   </select>
                               </div>

                               <script>
                                   $(window).on("load", e=>{
                                        if("<%=user.cache%>" != "user"){
                                        $("#userClass").hide()
                                        }
                                   })
                                   
                                   $("#type").on('change', e => {
                                       const val = $(e.target).val();
                                       if (val == 'creator' || val == 'administrator') {
                                           $("#userClass").hide()
                                           $("#userClassSelect").attr("required", false)
                                       } else {
                                           $("#userClass").show()
                                           $("#userClassSelect").attr("required", true)
                                       }
                                   })
                               </script>

                               <div id="userClass" class="field-wrapper input mb-2">
                                   <div class="d-flex justify-content-between">
                                       <label for="password">CLASS</label>
                                   </div>
                                   
                                   <select id="userClassSelect" name="rank" class=" form-control" required>
                                     <option value="<%=user.rank%>"><%=user.rank%></option>
                                    <option value="" selected disabled hidden> Select Class </option>
                                       <option>JSS 1</option>
                                       <option>JSS 2</option>
                                       <option>JSS 3</option>
                                       <option>SSS 1</option>
                                       <option>SSS 2</option>
                                       <option>SSS 3</option>
                                   </select>
                               </div>
                               <div>
                                   <input type="hidden" name="csrf" value="<%=csrfToken%>">
                                   <input type="hidden" name="url" value="users/updateUser">
                               </div>

                             
                               <div class="d-sm-flex justify-content-between">
                                   <div class="field-wrapper">
                                       <button type="submit" class="btn btn-primary" value="">Save Changes</button>
                                   </div>
                               </div>

                               <!--  -->

                           </div>
                       </form>
                   </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../../dashboard/componentSection/auth/loginComponents/footer') %>
</body>

</html>